{% extends "layout.html" %}
{% block content %}

<h2 class="mb-4">Create Character</h2>

<form method="POST" class="bg-secondary p-4 rounded">
    <label>Name</label>
    <input class="form-control mb-3" type="text" name="name" required>

    <label>Race</label>
    <input class="form-control mb-3" type="text" name="race" required>

    <label>Class</label>
    <input class="form-control mb-3" type="text" name="character_class" required>

    <label>Level</label>
    <input class="form-control mb-3" type="number" name="level" min="1" max="20" required>

    <label>STR:</label>
    <input type="number" name="str" value="10" min="1" max="20" required><br><br>

    <label>DEX:</label>
    <input type="number" name="dex" value="10" min="1" max="20" required><br><br>

    <label>CON:</label>
    <input type="number" name="con" value="10" min="1" max="20" required><br><br>

    <label>INT:</label>
    <input type="number" name="int" value="10" min="1" max="20" required><br><br>

    <label>WIS:</label>
    <input type="number" name="wis" value="10" min="1" max="20" required><br><br>

    <label>CHA:</label>
    <input type="number" name="cha" value="10" min="1" max="20" required><br><br>


    <button class="btn btn-success" type="submit">Create</button>
</form>

{% endblock %}
